<?xml version="1.0"?>
<config>
    <modules>
        <Teorema_Cart>
            <version>1.0.0</version>
        </Teorema_Cart>
    </modules>
    <global>
        <blocks>
            <teorema_cart>
                <class>Teorema_Cart_Block</class>
            </teorema_cart>
        </blocks>
        <models>
            <teorema_cart>
                <class>Teorema_Cart_Model</class>
                <resourceModel>teorema_cart_mysql4</resourceModel>
            </teorema_cart>
            <teorema_cart_mysql4>
                <class>Teorema_Cart_Model_Mysql4</class>
                <entities>
                    <teorema_cart>
                        <table>teorema_cart</table>
                    </teorema_cart>
                    <teorema_cart_tableschanged>
                        <table>teorema_cart_tables_changed</table>
                    </teorema_cart_tableschanged>
                </entities>
            </teorema_cart_mysql4>
        </models>
        <helpers>
            <teorema_cart>
                <class>Teorema_Cart_Helper</class>
            </teorema_cart>
        </helpers>
        <resources>
            <teorema_cart_setup>
                <setup>
                    <module>Teorema_Cart</module>
                </setup>
            </teorema_cart_setup>
        </resources>
        <index>
        		<indexer>
            			<teorema_cart>
                				<model>teorema_cart/indexer_cart</model>
            			</teorema_cart>
        		</indexer>
    		</index>
        
        <!-- <events> 
  	      <checkout_cart_product_add_after>
  	      		<observers>
  		          <cart_observer>
  		            <type>singleton</type>
  		            <class>teorema_cart/cart_observer</class>
  		            <method>checkingStockProduct</method>
  		          </cart_observer>
  		        </observers>
  	      </checkout_cart_product_add_after>
        </events>
-->

    </global>
    <frontend>
        <routers>
           <teorema_cart>
               <use>standard</use>
               <args>
                   <module>Teorema_Cart</module>
                   <frontName>teorema</frontName>
               </args>
           </teorema_cart>
        </routers>
        <layout>
            <updates>
                <teorema_cart>
                    <file>teorema_cart.xml</file>
                </teorema_cart>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <teorema_cart>
                <use>admin</use>
                <args>
                    <module>Teorema_Cart</module>
                    <frontName>teorema_cart</frontName>
                </args>
            </teorema_cart>
        </routers>
    </admin>
    <adminhtml>
      <layout>
          <updates>
              <teorema_cart>
                  <file>teorema/teorema_cart.xml</file>
              </teorema_cart>
          </updates>
      </layout>
    </adminhtml>
</config>
