<?xml version="1.0"?>
<config>
    <modules>
        <Teorema_Integration>
            <version>1.0.1</version>
        </Teorema_Integration>
    </modules>
    <global>
        <blocks>
            <teorema_integration>
                <class>Teorema_Integration_Block</class>
            </teorema_integration>
        </blocks>
        <models>
            <teorema_integration>
                <class>Teorema_Integration_Model</class>
                <resourceModel>teorema_integration_mysql4</resourceModel>
            </teorema_integration>
            <teorema_integration_mysql4>
                <class>Teorema_Integration_Model_Mysql4</class>
                <entities>
                    <teorema_integration>
                        <table>teorema_integration</table>
                    </teorema_integration>
                    <teorema_integration_tableschanged>
                        <table>teorema_integration_tables_changed</table>
                    </teorema_integration_tableschanged>
                </entities>
            </teorema_integration_mysql4>
        </models>
        <helpers>
            <teorema_integration>
                <class>Teorema_Integration_Helper</class>
            </teorema_integration>
        </helpers>
        <resources>
            <teorema_integration_setup>
                <setup>
                    <module>Teorema_Integration</module>
                </setup>
            </teorema_integration_setup>
        </resources>
        <index>
        		<indexer>
            			<teorema_integration>
                				<model>teorema_integration/indexer</model>
            			</teorema_integration>
        		</indexer>
    		</index>
        <events>
  	      <checkout_cart_product_add_after>
  	      		<observers>
  		          <cart_observer>
  		            <type>singleton</type>
  		            <class>teorema_integration/cart_observer</class>
  		            <method>checkingStockProduct</method>
  		          </cart_observer>
  		        </observers>
  	      </checkout_cart_product_add_after>
        </events>
    </global>
    <frontend>
        <routers>
           <teorema_integration>
               <use>standard</use>
               <args>
                   <module>Teorema_Integration</module>
                   <frontName>teorema</frontName>
               </args>
           </teorema_integration>
        </routers>
        <layout>
            <updates>
                <teorema_integration>
                    <file>teorema_integration.xml</file>
                </teorema_integration>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <teorema_integration>
                <use>admin</use>
                <args>
                    <module>Teorema_Integration</module>
                    <frontName>teorema_integration</frontName>
                </args>
            </teorema_integration>
        </routers>
    </admin>
    <adminhtml>
      <layout>
          <updates>
              <teorema_integration>
                  <file>teorema/teorema_integration.xml</file>
              </teorema_integration>
          </updates>
      </layout>
    </adminhtml>
</config>
