<?xml version="1.0" encoding="utf-8" ?>
<config>
  <tabs>
    <teorema translate="label" module="teorema_integration">
      <label>Teorema Configuração</label>
      <sort_order>200</sort_order>
    </teorema>
  </tabs>
  <sections>
    <teorema translate="label" module="teorema_integration">
        <label>Teorema</label>
        <tab>teorema</tab>
        <sort_order>200</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
        <groups>
              <teorema_integration translate="label" module="catalog">
                  <label>Configurações de integração com Teorema</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <fields>
                      <active translate="label">
                          <label>Habilitado</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                          <sort_order>10</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </active>
                      <soap_url_wsdl translate="label">
                          <label>soap url wsdl Teorema</label>
                          <comment>Ex.: http://192.168.0.43:5539/send?wsdl</comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>20</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </soap_url_wsdl>
                      <soap_domain translate="label">
                          <label>soap domain</label>
                          <comment>Ex.: http://192.168.0.43</comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>30</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </soap_domain>
                      <soap_port translate="label">
                          <label>Porta</label>
                          <comment>Ex.: 5539</comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>40</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </soap_port>

                      <user translate="label">
                          <label>Usuario</label>
                          <comment>Ex.: ECOMMERCE</comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>50</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </user>

                      <password translate="label">
                          <label>Senha</label>
                          <comment>Ex.: eco3102</comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>70</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </password>

                      <cron_limit_search_webservice translate="label">
                          <label>Limite de consultas ao WebService 'atualizar estoque'</label>
                          <comment>Ex.:50 </comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>90</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </cron_limit_search_webservice>


                      <cron_time translate="label">
                          <label>Intervalo tempo em minutos para execução cron (tarefas)</label>
                          <comment>Ex.:30 </comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>90</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </cron_time>


                      <indexer_limit translate="label">
                          <label>Quantidade limite para soncronização INTERNA estoque</label>
                          <comment>Ex.:80 </comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>110</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </indexer_limit>


                      <limit_attempts translate="label">
                          <label>Quantidade limite para tentativas de atualização Tabelas Alteradas</label>
                          <comment>Ex.:3 </comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>120</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </limit_attempts>


                      <business_number translate="label">
                          <label>Codigo de empresa:</label>
                          <comment>Ex.:0001 </comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>130</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </business_number>


                      <moving_company translate="label">
                          <label>Empresa Movimento:</label>
                          <comment>Ex.:0001 </comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>140</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </moving_company>


                      <vendor_code translate="label">
                          <label>VENDEDORCODIGO:</label>
                          <comment>Ex.:00001 </comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>140</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </vendor_code>


                  </fields>
              </teorema_integration>
          </groups>
      </teorema>
  </sections>
</config>
